body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x:  hidden;
 
}
.navbar {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;
  background: rgb(0,0,0,0.7) !important;

}
.navbar-dark .navbar-nav .nav-link {
  padding-left: 15px;
  color: #fff;

}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: aqua;

}
.pic-content {
  position: absolute;
  top: 80%;
  width: 100%;
  max-width: 100%;
}
.pic-content h5 {
  font-family: monospace;
  font-weight: 400;
  font-size: 35px;
  color: aliceblue;
}
.pic-content h1 {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bolder;
  font-size: 55px;
  color: aliceblue;
}
.pic-content p {
  font-family: 'Noto Sans TC', sans-serif;
  word-spacing: 5px;
  letter-spacing: 1.5px;
  font-weight: lighter;
  font-size: 16px;
  color: aliceblue;
}




